<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Other keys may be present in your Info.plist file -->

    <!-- Add the NSFaceIDUsageDescription key with a description of Face ID usage -->
    <key>NSFaceIDUsageDescription</key>
    <string>We use Face ID to unlock your data securely.</string>

    <!-- CFBundleURLTypes or any other existing keys may follow -->

</dict>
</plist>
